services:
  app:
    build: .
    container_name: laravel_app
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "8000:8000"
    command: php artisan serve --host=0.0.0.0 --port=8000
    depends_on:
      - mariadb

  mariadb:
    image: mariadb:10.11
    container_name: laravel_db
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: laravel
      MARIADB_USER: sail
      MARIADB_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: